@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  background-color: #f9fafb;
}
